@import url(https://fonts.googleapis.com/css?family=Exo:100);
* {
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 600;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #FFF;
}


/* ===== Botao cadastrar e login ===== */

.myButton {
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 13px;
    text-decoration: none;
}

.myButton a {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.myButton:hover {
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.logins {
    margin-left: 74%;
    color: white;
    font-family: 'Poppins', sans-serif;
}


/* ===== Fim do botao cadastrar e login ===== */


/* ===== Inicio Fom ======*/

.loginContainer h1,
.loginContainer h2,
.loginContainer h3,
.loginContainer h4,
.loginContainer h5,
.loginContainer h6,
.loginContainer a,
.loginContainer p {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: arial;
}

.loginbanner {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-iphonex-phone-geometry-black-banner-image_171749.jpg");
}

.loginbanner h1 {
    text-align: center;
    color: white;
}

.loginContainer {
    margin: 0 auto;
    max-width: 500px;
}

.login-header {
    color: #000;
    text-align: left;
    font-size: 18px;
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    border-style: solid;
    border-width: 1px;
    border-color: #949494;
    border-radius: 10px;
}

.login-form h3 {
    text-align: left;
    margin-left: 40px;
    font-size: 14px;
    color: #656565;
}

.login-form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
}

.loginContainer input[type="text"],
.loginContainer input[type="password"] {
    max-width: 400px;
    width: 80%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    margin: 1em 2em;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    padding-left: 10px;
}

.login-form input[type="button"] {
    height: 30px;
    width: 100px;
    background: #fff;
    border: 1px solid #949494;
    border-radius: 5px;
    color: #949494;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 30px;
}

.loginContainer .sign-up {
    color: #00485B;
    margin-left: -70%;
    cursor: pointer;
    text-decoration: underline;
}

.loginContainer .no-access {
    color: #00485B;
    margin-left: -70%;
    text-decoration: underline;
    cursor: pointer;
}

.loginContainer .loginHelp {
    font-size: 12px;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.loginContainer .loginHelp span {
    font-size: 14px;
    font-weight: 700;
    color: #003237;
}

.loginContainer a,
.loginContainer a:visited,
.loginContainer a:hover,
.loginContainer a:active {
    color: red;
}


/*Media Querie*/

@media only screen and (min-width: 150px) and (max-width: 530px) {
    .login-form h3 {
        text-align: center;
        margin: 0;
    }
    .loginContainer .sign-up,
    .loginContainer .no-access {
        margin: 10px 0;
    }
    .loginContainer .login-button {
        margin-bottom: 10px;
    }
}


/* ===== End Fom ======*/


/* ===== FOOTER ===== */

footer {
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.footer p,
li,
ul,
a {
    color: white;
    text-align: center;
    text-decoration: none;
    list-style: none;
}


/* ===== Responsividade ===== */

@media (max-width: 800px) {
    .myButton,
    .dropdown-submenu {
        margin-left: 0px;
        font-family: 'Poppins', sans-serif;
    }
    .myButton:hover {
        height: 60px;
        font-family: 'Poppins', sans-serif;
    }
    .dropdown-submenu {
        width: 70px;
        font-family: 'Poppins', sans-serif;
    }
    .dropdown-item {
        font-size: 7px;
        font-family: 'Poppins', sans-serif;
    }
    .navbar-nav {
        align-items: center;
        justify-content: space-around;
        font-family: 'Poppins', sans-serif;
    }
    .show {
        width: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .logins {
        display: none;
        font-family: 'Poppins', sans-serif;
    }
}