@import url(https://fonts.googleapis.com/css?family=Exo:100);

.navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #FFF;
}
/* ===== Responsividade ===== */
@media (max-width: 800px) {
  .dropdown-submenu {
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
  }

  .dropdown-submenu {
    width: 70px;
    font-family: 'Poppins', sans-serif;
  }

  .dropdown-item {
    font-size: 7px;
    font-family: 'Poppins', sans-serif;
  }

  .navbar-nav {
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
  }

}

header{
  background-color: #4A00E0;
}

.row >[class ^=col-]:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row >[class ^=col-]:first-child img{
  height: 100px;
}

.row >[class ^=col-]:first-child h2{
  font-size: 2rem;
  font-weight: 600;
}

form{
  background-color: rgba(238, 238, 238, 0.604);
  border-radius: .5rem;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}

form button[type="submit"]{
color: #fff;
 background-color: #7430ff;
 font-weight: 600;
 text-transform: uppercase;
}

form button[type="submit"]:hover{
  color: #fff;
}

form a{
  text-decoration: none;
  font-weight: 600;
}

/* ===== FOOTER ===== */
footer {
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

footer h5 {
  color: #FFF;
}

footer .list-unstyled {
  color: #FFF;
}

footer .list-unstyled a {
  color: #312a2a;
  text-decoration: underline;
}


@media (min-width: 576px){

}

@media (min-width: 768px){
  header, header nav{
    height: 80px;
    background-color: #4A00E0;
  }

  .row >[class ^=col-]:first-child{
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
  }

  section.container{
    min-height: calc(100vh - 378px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form{
    min-width: 300px;
    background-color: rgba(238, 238, 238, 0.604);
    border-radius: .5rem;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
  }

  footer{
    height: 250px;
  }
  footer div.container >[class ^="d-flex"]{
    flex-direction: row !important;
  }

  footer div.container >[class ^="d-flex"] nav{
    max-width: 400px;
    margin-bottom: 2rem;
  }

}


@media (min-width: 1024px){
  form{
    min-width: 400px;
  }
}
