@import url(https://fonts.googleapis.com/css?family=Exo:100);

.navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #FFF;
}

/* ===== Bot�o cadastrar e login ===== */
.myButton {
  background: linear-gradient(to bottom, #580cf0 5%, #582bb3 100%);
  background-color: #580cf0;
  border-radius: 23px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
  text-transform: uppercase;
}

.myButton:hover {
  background: linear-gradient(to bottom, #582bb3 5%, #580cf0 100%);
  background-color: #582bb3;
  color: #fff;
}

.logins {
  margin-left: 74%;
}

/* ===== Fim do botao cadastrar e login ===== */
/* ===== Responsividade ===== */
@media (max-width: 800px) {
  .myButton, .dropdown-submenu {
    margin-left: 0px;
  }

  .myButton:hover {
    height: 60px;
  }

  .dropdown-submenu {
    width: 70px;
  }

  .dropdown-item {
    font-size: 7px;
  }

  .navbar-nav {
    align-items: center;
    justify-content: space-around;
  }

  .show {
    width: 30px;
  }

  .logins {
    display: none;
  }
}

/* ===== Flexbox ===== */
.tiltf {
  text-align: center;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 4px;
  letter-spacing: 1.2px;
}

.caixa_1 {
  width: 30%;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  z-index: 1;
  -webkit-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  margin: 8px;
}

.item-imagem {
  padding: 20px 0 20px 20px;
  width: 32%;
  float: left;
  max-width: 100%;
}

.item-descricao {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  width: 38%;
  margin: 0;
  padding: 40px 25px 40px 0;
  position: relative;
  box-sizing: border-box;
  float: right;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
}

/* ===== FOOTER ===== */
footer {
  background-color: #7B0DDB;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

footer h5 {
  color: #FFF;
}

footer .list-unstyled {
  color: #FFF;
}

footer .list-unstyled a {
  color: #312a2a;
  text-decoration: underline;
}
