@import url(https://fonts.googleapis.com/css?family=Exo:100);
* {
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #FFF;
}

.logins .myButton .dropdown-menu {
  min-width: 5rem;
}

.logins .myButton .dropdown-menu a {
  letter-spacing: 1px;
}

.myButton {
  background:linear-gradient(to bottom, #580cf0 5%, #582bb3 100%);
  background-color:#580cf0;
  border-radius:23px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:5px 13px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
  text-transform: uppercase;
}

.myButton:hover {
  background: linear-gradient(to bottom, #582bb3 5%, #580cf0 100%);
  background-color: #582bb3;
  color: #fff;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.form-label-group {
  margin-bottom: 1rem;
}

.form-label-group label {
  margin-bottom: .5rem;
}

/* ===== FOOTER ===== */

footer {
  text-align: left;
  background-color: #4A00E0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

footer h5 {
  color: #FFF;
}

footer .list-unstyled {
  color: #FFF;
}

footer .list-unstyled a {
  color: #fff;
  text-decoration: underline;
}
main {
  position: relative;
}

footer {
  margin-top: 2%;
}

@media only screen and (max-width: 1024px) {
  footer {
    position: relative;
  }
}
/* login */

.login__form {
  position: relative;
  top: 50%;
  height: 368px;
}

.login__entrar {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  /*  background-color: var(--first-color-lighten);*/
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: right;
  box-shadow: 0 8px 20px rgba(35, 0, 77, .2);
}

/*
#container-1{

    background-color: 	aquamarine;
    color:black;
    font-weight: bold;
    border: solid 3px #000000;
}

h3{
    text-align: center;
}

p{
    text-align:center;
    font-weight: bold;
}

.icon-vestuario{
    width:100px;
}

.note{
    width:100px;
}

.cosmetico{
    width:100px;
}



.loja{
    width:35px;
    margin-right:5px;
    }


.seguranca{
    width:35px;
    margin-right:5px;
    }

    .comissao{
        width:35px;
        margin-right:5px;

    }

    #banner-acelere{
        background-color: red;
        color:white;
    }*/